.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(18,18,18);
}

/* TOP NAV stays fixed at top */
app-topnav {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* SIDEBAR + CONTENT */
.main-content {
  flex: 1;
  display: flex;
  height: calc(100vh - 90px); 
  overflow: hidden; 
}

/* SIDEBAR (left) */
.sidebar {
  width: 25%;
  background-color: #111;
  overflow-y: auto;
  padding-bottom: 20px; 
  scrollbar-width: thin;
  scrollbar-color: #555 #222;
}

/* CONTENT AREA (right) */
.content-area {
  flex: 1;
  background-color: rgb(27,27,27);
  overflow-y: auto;
  padding: 20px 10px;
  padding-bottom: 120px; 
}

/* MUSIC PLAYER FIXED AT BOTTOM */
.music-player {
  position: fixed;
  bottom: 0;
  left: 0%;
  width: 100%;
  z-index: 1000;
  background-color: var(--artist-title-hover);
}

.scroll-content{
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: 10px;
  height: auto;
  scrollbar-width: thin;
  scrollbar-color: #555 #222;
  width: auto;

}